<!DOCTYPE html>
<html lang="en">
  <head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/head_bootstrap.html" %}
{% include "templates/css.html" %}
{% include "templates/head_gae_js.html" %}
<script type="text/javascript">
function punch_card() {
	var value = escape($("#cardtext").val());
	$.ajax({ url: "/legaltext?text=" + value }).done(function (legal_text) { $("#legal_text").html(legal_text) } );
	$("#cardimage").attr( "src", "/punch?text=" + value + "&format=svg");
}
</script>
</head>
<body>
{% include "templates/header.html" %}
<input type="text" name="text" id="cardtext">
<button type="submit" onclick="punch_card()">Punch</button>
<p>&nbsp;</p>
<span>The legal punchcard text is: </span>
<span id="legal_text"></span>
<p>&nbsp;</p>
<img src="/punch?text=ABCDEFGHIJKLMNOPQRSTUVWXYZ&" alt="" id="cardimage">
{% include "templates/body_gae_logo.html" %}
{% include "templates/body_bootstrap.html" %}
</body>
</html>
