<!DOCTYPE html>
<html lang="en">
  <head>
{% include "templates/meta.html" %}
{% include "templates/title.html" %}
{% include "templates/head_bootstrap.html" %}
{% include "templates/css.html" %}
{% include "templates/head_gae_js.html" %}
</head>
<body>
{% if user_id == '' %}
{% include "templates/logged_out_header.html" %}
{% else %}
{% include "templates/logged_in_header.html" %}
{% endif %}
<p>Page not found</p>
{% include "templates/body_gae_logo.html" %}
{% include "templates/body_bootstrap.html" %}
</body>
</html>